version: '3.8'

services:
  backend:
    image: ghcr.io/xixvivji/bapai-backend:latest
    container_name: bapai-server
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - bapai-net

  redis:
    image: redis:alpine
    container_name: bapai-redis
    ports:
      - "6379:6379"
    networks:
      - bapai-net

  nginx:
    image: ghcr.io/xixvivji/bapai-nginx:latest
    container_name: bapai-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/www/html:/usr/share/nginx/html:ro
    depends_on:
      - backend
    networks:
      - bapai-net

  prometheus:
    image: prom/prometheus:latest
    container_name: bapai-prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - bapai-net
    restart: always

  grafana:
    image: grafana/grafana:latest
    container_name: bapai-grafana
    ports:
      - "3000:3000"
    networks:
      - bapai-net
    restart: always

networks:
  bapai-net:
    driver: bridge