version: '3.8'

services:
  backend:
    image: ghcr.io/xixvivji/bapai-backend:latest
    container_name: bapai-server
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
      - bapai-net

  redis:
    image: redis:alpine
    container_name: bapai-redis
    ports:
      - "6379:6379"
    networks:
      - bapai-net

  nginx:
    image: ghcr.io/xixvivji/bapai-nginx:latest
    container_name: bapai-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/www/html:/usr/share/nginx/html:ro
    depends_on:
      - backend
    networks:
      - bapai-net

networks:
  bapai-net:
    driver: bridge