version: '3.8'

services:
  backend:
    build: .
    container_name: bapai-server
    expose:
      - "8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://yumyum-db.cdyc4s8smzoc.ap-northeast-2.rds.amazonaws.com:3306/bapai?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=yumyumcoach
      - SPRING_DATA_REDIS_HOST=redis
      - SPRING_DATA_REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - bapai-net

  redis:
    image: redis:alpine
    container_name: bapai-redis
    ports:
      - "6379:6379"
    networks:
      - bapai-net

  nginx:
    image: nginx:latest
    container_name: bapai-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./certbot/conf:/etc/letsencrypt:ro
      - ./certbot/www:/var/www/certbot:ro

      # EC2 호스트의 /var/www/html 을 nginx 정적 루트로 마운트
      - /var/www/html:/usr/share/nginx/html:ro
    depends_on:
      - backend
    networks:
      - bapai-net

networks:
  bapai-net:
    driver: bridge