<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.bapai.food.dao.FoodDao">

    <sql id="foodColumns">
        food_code       AS foodCode,
        data_source     AS dataSource,
        name,
        maker,
        category,
        serving_size    AS servingSize,
        unit,
        kcal,
        carbo,
        protein,
        fat,
        sugar,
        sodium,
        cholesterol,
        saturated_fat   AS saturatedFat,
        trans_fat       AS transFat
    </sql>

    <select id="searchList" parameterType="string" resultType="com.ssafy.bapai.food.dto.FoodDto">
        SELECT
        <include refid="foodColumns"/>
        FROM food
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY name ASC
        LIMIT 20
    </select>

    <select id="selectFood" parameterType="string" resultType="com.ssafy.bapai.food.dto.FoodDto">
        SELECT
        <include refid="foodColumns"/>
        FROM food
        WHERE food_code = #{foodCode}
    </select>

</mapper>