<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.bapai.member.dao.HealthDao">

    <select id="selectAllDiseases" resultType="com.ssafy.bapai.member.dto.OptionDto">
        SELECT disease_id as id, name
        FROM disease
    </select>

    <select id="selectAllAllergies" resultType="com.ssafy.bapai.member.dto.OptionDto">
        SELECT allergy_id as id, name
        FROM allergy
    </select>

    <delete id="deleteMemberDiseases">
        DELETE
        FROM member_disease
        WHERE user_id = #{userId}
    </delete>

    <delete id="deleteMemberAllergies">
        DELETE
        FROM member_allergy
        WHERE user_id = #{userId}
    </delete>

    <insert id="insertMemberDiseases">
        INSERT INTO member_disease (user_id, disease_id) VALUES
        <foreach collection="diseaseIds" item="dId" separator=",">
            (#{userId}, #{dId})
        </foreach>
    </insert>

    <insert id="insertMemberAllergies">
        INSERT INTO member_allergy (user_id, allergy_id) VALUES
        <foreach collection="allergyIds" item="aId" separator=",">
            (#{userId}, #{aId})
        </foreach>
    </insert>

    <select id="selectDiseaseIdsByUserId" resultType="int">
        SELECT disease_id
        FROM member_disease
        WHERE user_id = #{userId}
    </select>

    <select id="selectAllergyIdsByUserId" resultType="int">
        SELECT allergy_id
        FROM member_allergy
        WHERE user_id = #{userId}
    </select>

    <select id="selectDiseaseNamesByIds" resultType="java.lang.String">
        SELECT name FROM disease
        WHERE disease_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectAllergyNamesByIds" resultType="java.lang.String">
        SELECT name FROM allergy
        WHERE allergy_id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    
</mapper>