<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.bapai.report.dao.ReportDao">

    <select id="selectMyStatsByPeriod" resultType="map">
        SELECT COALESCE(AVG(score), 0)    as avgScore,
               COALESCE(AVG(calories), 0) as avgCalories,
               COALESCE(AVG(carbs), 0)    as avgCarbs,
               COALESCE(AVG(protein), 0)  as avgProtein,
               COALESCE(AVG(fat), 0)      as avgFat
        FROM meal_log
        WHERE user_id = #{userId}
          AND created_at BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="selectRankerStatsByPeriod" resultType="map">
        SELECT COALESCE(AVG(ml.score), 0)   as avgScore,
               COALESCE(AVG(ml.carbs), 0)   as avgCarbs,
               COALESCE(AVG(ml.protein), 0) as avgProtein,
               COALESCE(AVG(ml.fat), 0)     as avgFat
        FROM meal_log ml
        WHERE ml.user_id IN (
            SELECT sub.user_id
            FROM (SELECT m.user_id
                  FROM group_member gm
                           JOIN member m ON gm.user_id = m.user_id
                           LEFT JOIN meal_log l ON m.user_id = l.user_id
                  WHERE gm.group_id = #{groupId}
                    AND l.created_at BETWEEN #{startDate} AND #{endDate}
                  GROUP BY m.user_id
                  ORDER BY AVG(l.score) DESC
                  LIMIT 3) as sub
            )
          AND ml.created_at BETWEEN #{startDate} AND #{endDate}
    </select>
    <insert id="insertReportLog" parameterType="com.ssafy.bapai.report.dto.ReportLogDto">
        INSERT INTO report_log (user_id, report_type, start_date, end_date, score_average, ai_message, created_at)
        VALUES (#{userId}, #{reportType}, #{startDate}, #{endDate}, #{scoreAverage}, #{aiMessage}, NOW())
    </insert>
</mapper>