<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.bapai.board.dao.BoardDao">

    <sql id="search">
        <if test="word != null and word != ''">
            <choose>
                <when test="key == 'title'">
                    AND b.title LIKE CONCAT('%', #{word}, '%')
                </when>
                <when test="key == 'content'">
                    AND b.content LIKE CONCAT('%', #{word}, '%')
                </when>
                <when test="key == 'nickname'">
                    AND m.name LIKE CONCAT('%', #{word}, '%')
                </when>
            </choose>
        </if>
    </sql>

    <select id="selectBoardList" resultType="com.ssafy.bapai.board.dto.BoardDto">
        SELECT
        b.board_id AS boardId,
        b.category,
        b.title,
        b.content,
        b.user_id AS userId,
        b.view_count AS viewCount,
        b.like_count AS likeCount,
        b.dislike_count AS dislikeCount,
        b.created_at AS createdAt,
        b.updated_at AS updatedAt,
        b.img_url AS imgUrl,
        m.name AS nickname,

        br.reaction_type AS userLiked

        FROM board b
        JOIN member m ON b.user_id = m.user_id

        LEFT JOIN board_reaction br
        ON b.board_id = br.board_id
        AND br.user_id = #{userId}

        WHERE 1=1
        <if test="category != null and category != ''">
            AND b.category = #{category}
        </if>
        <include refid="search"/>
        ORDER BY b.created_at DESC
        LIMIT #{size} OFFSET #{offset}
    </select>
    <select id="selectBoardCount" resultType="long">
        SELECT COUNT(*)
        FROM board b
        JOIN member m ON b.user_id = m.user_id
        WHERE 1=1
        <if test="category != null and category != ''">
            AND b.category = #{category}
        </if>
        <include refid="search"/>
    </select>
    <select id="selectBoardDetail" resultType="com.ssafy.bapai.board.dto.BoardDto">
        SELECT b.board_id       AS boardId,
               b.user_id        AS userId,
               b.category,
               b.title,
               b.content,
               b.img_url        AS imgUrl,
               b.view_count     AS viewCount,
               b.like_count     AS likeCount,
               b.dislike_count  AS dislikeCount,
               b.created_at     AS createdAt,
               b.updated_at     AS updatedAt,
               m.name           AS nickname,

               br.reaction_type AS userLiked

        FROM board b
                 JOIN member m ON b.user_id = m.user_id

                 LEFT JOIN board_reaction br
                           ON b.board_id = br.board_id
                               AND br.user_id = #{userId}

        WHERE b.board_id = #{boardId}
    </select>

    <select id="selectBoardById" resultType="com.ssafy.bapai.board.dto.BoardDto">
        SELECT board_id, user_id, title, img_url as imgUrl
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <insert id="insertBoard" parameterType="com.ssafy.bapai.board.dto.BoardDto">
        INSERT INTO board (user_id, category, title, content, img_url, created_at)
        VALUES (#{userId}, #{category}, #{title}, #{content}, #{imgUrl}, NOW())
    </insert>

    <update id="updateBoard">
        UPDATE board
        SET title = #{title},
        content = #{content},
        <if test="category != null">category = #{category},</if>
        <if test="imgUrl != null">img_url = #{imgUrl},</if>
        updated_at = NOW() WHERE board_id = #{boardId}
    </update>

    <delete id="deleteBoard">
        DELETE
        FROM board
        WHERE board_id = #{boardId}
    </delete>

    <update id="updateHit">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_id = #{boardId}
    </update>

    <delete id="deleteCommentsByBoardId">
        DELETE
        FROM comment
        WHERE board_id = #{boardId}
    </delete>

    <delete id="deleteAllReactionsByBoardId">
        DELETE
        FROM board_reaction
        WHERE board_id = #{boardId}
    </delete>

    <select id="selectReactionType" resultType="String">
        SELECT reaction_type
        FROM board_reaction
        WHERE board_id = #{boardId}
          AND user_id = #{userId}
    </select>

    <insert id="insertBoardReaction">
        INSERT INTO board_reaction (board_id, user_id, reaction_type)
        VALUES (#{boardId}, #{userId}, #{type})
    </insert>

    <delete id="deleteBoardReaction">
        DELETE
        FROM board_reaction
        WHERE board_id = #{boardId}
          AND user_id = #{userId}
    </delete>

    <update id="increaseBoardReactionCount">
        UPDATE board
        SET
        <if test="type == 'LIKE'">like_count = like_count + 1</if>
        <if test="type == 'DISLIKE'">dislike_count = dislike_count + 1</if>
        WHERE board_id = #{boardId}
    </update>

    <update id="decreaseBoardReactionCount">
        UPDATE board
        SET
        <if test="type == 'LIKE'">like_count = like_count - 1</if>
        <if test="type == 'DISLIKE'">dislike_count = dislike_count - 1</if>
        WHERE board_id = #{boardId}
    </update>

</mapper>