<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.bapai.board.dao.CommentDao">

    <select id="selectCommentsByBoardId" resultType="com.ssafy.bapai.board.dto.CommentDto">
        SELECT c.comment_id     as commentId,
               c.board_id       as boardId,
               c.user_id        as userId,
               c.parent_id      as parentId,
               c.content,
               c.like_count     as likeCount,
               c.dislike_count  as dislikeCount,
               c.created_at     as createdAt,
               c.updated_at     as updatedAt,
               m.name           as nickname,

               cr.reaction_type as userLiked

        FROM comment c
                 JOIN member m ON c.user_id = m.user_id

                 LEFT JOIN comment_reaction cr
                           ON c.comment_id = cr.comment_id
                               AND cr.user_id = #{userId}

        WHERE c.board_id = #{boardId}
        ORDER BY c.parent_id ASC, c.created_at ASC
    </select>

    <select id="selectCommentById" resultType="com.ssafy.bapai.board.dto.CommentDto">
        SELECT comment_id as commentId,
               user_id    as userId,
               content,
               created_at as createdAt,
               updated_at as updatedAt
        FROM comment
        WHERE comment_id = #{commentId}
    </select>

    <insert id="insertComment">
        INSERT INTO comment (board_id, user_id, parent_id, content, created_at)
        VALUES (#{boardId}, #{userId}, #{parentId}, #{content}, NOW())
    </insert>

    <update id="updateComment">
        UPDATE comment
        SET content    = #{content},
            updated_at = NOW()
        WHERE comment_id = #{commentId}
    </update>

    <delete id="deleteComment">
        DELETE
        FROM comment
        WHERE comment_id = #{commentId}
    </delete>

    <insert id="insertCommentReaction">
        INSERT INTO comment_reaction (comment_id, user_id, reaction_type)
        VALUES (#{commentId}, #{userId}, #{type})
    </insert>

    <update id="increaseCommentReactionCount">
        UPDATE comment
        SET
        <if test="type == 'LIKE'">like_count = like_count + 1</if>
        <if test="type == 'DISLIKE'">dislike_count = dislike_count + 1</if>
        WHERE comment_id = #{commentId}
    </update>

    <select id="selectReactionType" resultType="String">
        SELECT reaction_type
        FROM comment_reaction
        WHERE comment_id = #{commentId}
          AND user_id = #{userId}
    </select>

    <delete id="deleteCommentReaction">
        DELETE
        FROM comment_reaction
        WHERE comment_id = #{commentId}
          AND user_id = #{userId}
    </delete>

    <update id="decreaseCommentReactionCount">
        UPDATE comment
        SET
        <if test="type == 'LIKE'">like_count = like_count - 1</if>
        <if test="type == 'DISLIKE'">dislike_count = dislike_count - 1</if>
        WHERE comment_id = #{commentId}
    </update>

</mapper>